:root {
  --blue: #3858FB;
  --mediumBlue: #64DCF0;
  --lightBlue: #F2FBFC;
  --grayText: #393939;
  --hFont: 'Futura';
  --pFont: 'Open Sans';
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #B0DBDC;
  text-decoration: none;
}

.section-description {
  margin-bottom: 40px;
  font-size: 16px;
  width: 100%;
  color: var(--grayText);
}

/* About section */

.about-section {
  width: 80%;
  margin: auto;
  color: var(--grayText);
}

.box { 
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  text-align: left;
}

.about-text { 
  width: 45%;
}

.about-image {
  width: 40%;
}

/* Members section */

.members-grid {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 90%;
  margin: auto;
}

.member-tile {
  position: relative;
  width: 20vmin;
  margin: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-image: linear-gradient(to right, rgba(204,83,51,0.85), rgba(35, 7, 77, 0.85));
  color: white;
  font-size: 2.5vmin;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1vmin;
  text-align: left;
}

.member-tile:hover .overlay {
  opacity: 1.0;
}

.member-links {
  display: flex;
  justify-content: row;
  align-items: center;
  justify-content: center;
}

.member-link {
  padding-right: 1.5vmin;
  color: white;
}

#in-memory-of {
  padding-top: 15vh;
}

.justin-tile {
  position: relative;
  width: 30vmin;
  margin: 10px;
}

.justin-tile:hover .overlay {
  opacity: 1.0;
}

.photo-carousel {
  margin-top: 100px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.group-tile {
  /* display: inline-block; */
  flex: 0 0 auto;
  margin: 5px;
  height: 300px;
}

.group-tile img {
  height: 100%;
}

/* Careers section */

.careers-box {
  width: 25%;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  border-image-source: linear-gradient(180deg, var(--blue), var(--mediumBlue));
  border-image-slice: 1;
  margin: 30px;
}

.careers-title { 
  position: relative; 
  top : -0.5em;
  display: inline; 
  background-color: white; 
  padding: 0 15px 0 15px;
  font-size: 24px;
  font-family: var(--hFont);
  color: var(--blue);
  font-weight: bold;
}

.careers-image {
  margin: 30px;
}

/* Sister chapter section */

.chapter-grid {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 60%;
  margin: auto;  
  padding-top: 5px;
}

.chapter {
  width: 50vmin;
  margin: 5px;
}