@font-face {
    font-family: 'Montserrat'; /*a name to be used later*/
    src: url('fonts/Montserrat-Bold.ttf'); /*URL to font*/
}

@font-face {
	font-family: 'Crimson';
	src: url('fonts/CrimsonText-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat-Light';
	src: url('fonts/Montserrat-Light.otf');
}

.montserrat {
	font-family: 'Montserrat';
}

.crimson {
	font-family: 'Crimson';
}

.montserrat-light {
	font-family: 'Montserrat-Light';
}

.navbar-custom {
	background-color: transparent;
	height: 6vw;
	margin-bottom: 0;
	border-bottom: 0;
}

.navbar-container {
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	height: 100%;
	width: 100%;
}

.navbar-header-custom {
	height: 6vw;
	margin-left: 150px;
}

.navbar-sep {
	color: #ffffff;
	font-size: 20px;
}

.navbar-nav-custom {
	color: #ffffff;
}

.navbar-nav-custom:hover {
	color: #ffffff;
}

.navbar-header-custom::before {
	height: 100%;
}

.navbar-header-text {
	text-decoration: none;
	color: #ffffff;
	font-size: 2vw;
}

.navbar-header-text:hover {
	text-decoration: none;
}

.navbar-rush-link {
	border: 2px solid #ffffff;
	border-radius: 25px;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-rush-link:hover {
	background-color: #ffffff;
	color: #000000;
}

.navbar-home-link {
	position: relative;
	top: 15%;
	transform: translateY(-15%);
}

.landing-container {
	background-image: url('../images/home1.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 700px;
}

.landing-header-vertical-align {
	position: relative;
	transform: translateY(50%);
	top: 50%;
}

.vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.landing-text {
	margin-top: 20px;
	font-size: 24px;
	color: #ffffff;
	text-align: center;
}

.landing-sep {
	font-size: 70px;
	color: #ffffff;
}

.landing-rush-button,
.landing-rush-button:active,
.landing-rush-button:visited {
	margin-top: 10px;
	border: 2px solid #36b3a8;
	background-color: #36b3a8;
	color: white;
	font-size: 16px;
	border-radius: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.landing-rush-button:hover {
	background-color: #57c7bd;
	border: 2px solid #57c7bd;
}

.landing-potential-header {
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
	padding-top: 5%;
}

.landing-potential-text {
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
	padding-top: 2%;
	font-size: 16px;
	line-height: 30px;
}

.landing-link-container {
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 5%;
	padding-bottom: 10%;
}

.landing-about-link-text {
	line-height: 30px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.landing-about-link-link {
	color: #36b3a8;
}

.pre-footer {
	background-color: #3d4040;
	height: 10%;
}

.footer {
	background-color: #212222;
	height: 20%;
}

.about-container {
	background-image: url('../images/statistics1.jpeg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 35vw;
	background-position: 30% 45%;
}

.about-banner {
	font-size: 60px;
	color: #ffffff;
	position: relative;
	transform: translateY(-65%);
	top: 40%;
}

.about-banner-text {
	font-size: 60px;
	color: #ffffff;
	position: relative;
	transform: translateY(200%);
}

.about-header {
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-text {
	font-size: 18px;
	line-height: 30px;
	padding-bottom: 100px;
}

.about-est {
	font-size: 25px;
	line-height: 40px;
}

.about-divider {
	border: 1px solid #dddddd;
	margin-top: 0;
	width: 75%;
}

.brothers-container {
	background-image: url('../images/about1.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 35vw;
	background-position: 30% 45%;
}

.brothers-banner {
	font-size: 60px;
	color: #ffffff;
	position: relative;
	transform: translateY(-65%);
	top: 40%;
}

.brothers-banner-text {
	font-size: 60px;
	color: #ffffff;
	position: relative;
	transform: translateY(200%);
}

.brothers-header {
	font-size: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.brothers-box {
	padding-top: 70px;
	padding-bottom: 100px;
}

.brothers-pic-container {
	border-radius: 15%;
	overflow: hidden;
}

.brothers-pic-container:hover {
	background-color: #b3ccdf;
}

.brothers-pic-subtitle {
	font-size: 16px;
	text-align: center;
	padding-top: 7px;
	color: #000000;
}

.brothers-row {
	margin-bottom: 30px;
}

.brothers-pic {
	position: relative;
}

.brothers-pic img {
	vertical-align: top;
	width: 100%;
	border-radius: 10px;
}

.brothers-pic:after, .brothers-pic:before {
	position: absolute;
	opacity: 0;
}

.brothers-pic:after {
	content: '\A';
	width: 100%; height: 100%;
	top: 0; left:0;
	background: rgba(0, 0, 0, 0.6);
}

.brothers-pic:before {
	content: attr(data-content);
	width: 100%;
	color: #fff;
	z-index: 1;
	bottom: 0;
	padding-bottom: 50%;
	text-align: center;
	font-size: 18px;
}

.brothers-pic:hover:after, .brothers-pic:hover:before {
	opacity: 1;
	border-radius: 10px;
}

.brothers-caption {
	position: absolute;
	color: #fff;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	margin-top: -100%;
	text-align: center;
	padding-top: 20%;
}

.brothers-caption:hover {
	opacity: 1;
}

.brothers-caption-divider {
	width: 80%;
	margin-top: 0;
	margin-bottom: 0;
}

span.brothers-text-content {
	background: rgba(0, 0, 0, 0.5);
	color: white;
	display: table;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: 0;
}

span.brothers-text-content span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.ventures-container {
	background-image: url('../images/ventures1.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 35vw;
	background-position: 30% 45%;
}

.ventures-header {
	font-size: 50px;
}

.ventures-row {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 100px;
	padding-right: 100px;
}

.ventures-pic:hover {
	background-color: #0000ff;
	opacity: 0.8;
}

.ventures-banner {
	font-size: 60px;
	color: #ffffff;
	position: relative;
	transform: translateY(-65%);
	top: 40%;
}

.ventures-banner-text {
	font-size: 60px;
	color: #ffffff;
	position: relative;
	transform: translateY(200%);
}

.rush-banner {
	background-image: url('../images/rush1.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 35vw;
	background-position: 30% 40%;
}

.rush-banner-text {
	font-size: 60px;
	color: #ffffff;
	position: relative;
	transform: translateY(-65%);
	top: 40%;
}

.rush-container {
	padding-top: 80px;
	padding-bottom: 100px;
	padding-left: 10%;
	padding-right: 10%;
}

.rush-header {
	padding-top: 50px;
	font-size: 70px;
}

.rush-application-button {
	font-size: 16px;
	background-color: #515358;
	color: #ffffff;
	padding: 10px 10px 10px 10px;
}

.rush-application-button:hover {
	background-color: #7e8187;
	color: #ffffff;
}

.rush-schedule-container {
	text-align: center;
	padding-bottom: 100px;
}

.rush-event-container {
	height: 15em;
}



