html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}


.content {
  position: relative;
  z-index: 100;
}

.tiny-arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  padding-bottom: 15vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background-image: url('../media/back-pic.jpg');
  background-size: 100% 100%;
  margin: 0;
  background-size: 100% auto;
}

.navbar {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: rgba(8, 13, 53, 0.7);
/*
  margin-top: 7px; 
  margin-bottom: 7px; 
*/
  font-weight: 600
}

.navbar-nav > li {
  margin-left: 3vw;
  margin-right: 3vw;
  color: #ffffff
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-style: bold
}

#highlighted-nav-item {
 
  border: 1.25px solid #d82959;
  background-color: rgb(255, 255,255, 0.9)
  padding: 0;
  border-color: #d82959;
  margin-left: 3vw;
  padding-left: 18px;
  padding-right: 18px;

}

#grid-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100vh /*90vh*/ /*100vh 100vh 100vh 50vh*/;
}

#landing-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column: 1 / 13;
  grid-row: 1 / 2;
}

#tiny-arrow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#landing-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
/*  background-color: rgba(221, 216, 216, 0.05);
*/ text-align: center;

}

#sigma-eta-pi-title {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 100%;
  height: 35%;
  padding-left: 100px    
}

.sigma-eta-pi-text {
  font-size: 14vmin;
  color: #d82959;
  font-family: Montserrat, sans-serif; 
  font-weight: 700;
  text-align: left;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

#sub-title {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 8%;
  color: #ffffff;
  padding-left: 100px;   

}

.sub-title-text {
  font-size: 5vmin;
  font-weight: bold;
  font-family: 'montserrat', sans-serif;
  font-weight:100;
  text-align: left;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s; 
}

#rush-button-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 100%;
  height: 65px;
  padding-left: 100px;  
  padding-bottom: 20px;
  padding-top: 60px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.btn-primary {
  font-size: 40px;
  width: 250px;
  height: 100px;
  color: #d82959;
  background-color: rgba(255, 255, 255, 0.05);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  border-width: 2px;
  /*border-radius: 20px;*/
  padding: 0;
  border-color: #d82959;
}

.btn-primary:hover {
  background-color: #d82959;
  color: rgba(8, 13, 53);
  border-color: #d82959
}

#super-sub-title {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-end;
  width: 100%;
  height: 15%;
  font-size: 3.0vmin;
  padding-left: 100px;
  font-family: 'montserrat',;
  color: #FFFFFF;
  text-align: left;
  opacity: .3;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.button {
    text-align: left;
    width: 60px;
    height: auto;
    opacity: 0.75;
}

#home-page-main-content {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 13;
  background-color: #f9f9f9;
  text-align: center;
}

#home-page-info {
  display: flex;
  margin-top: 75px;
  flex-direction: column;
  justify-content: space-between;
  font-size: 25px;
  width: 100%;
  height: 10%;
  text-align: center;
  align-items: center;
  color: #0B0783;
  font-weight: normal;
  padding-right: 160px;
  padding-left: 160px;
}

.home-content-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  align-content: center;
  justify-content: space-around;
}

.home-content-title {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  font-size: 100px;
  color: #0B0783;
}
h2 {
    font-size: 75px;
    background-color:
}

.decor {
  width: 600px;
}

.decor-bottom {
  width: 550px;
}

/*.home-content-title:before, .home-content-title:after{
  content: "";
  flex: 1 1;
  border-bottom: 3px solid #E2324F;
  border-right: 50px;
  border-left: 50px;
  margin: auto;
}*/

.home-page-cards {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 75px; 
  margin-right: 75px;
  margin-left: 75px;
}

#home-about-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  width: 330px;
  height: 430px;
  margin: 25px;
  box-shadow: 0 0 10px 5px #e5e5e5;
  border-radius: 10px;

}

#home-about-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px 5px #e5e5e5;
  -webkit-transition: all 250ms;
  /*box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.2);*/
}

.card-text {
  text-align: center;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
}

.card-link-text {
  text-align: center;
  justify-content: center;
  color: #E2324F;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

#home-venture-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  width: 330px;
  height: 430px;
  margin: 25px;
  box-shadow: 0 0 10px 5px #e5e5e5;
  border-radius: 10px;

}

#home-venture-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px 5px #e5e5e5;
  -webkit-transition: all 250ms;
  /*box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.2);*/
}

#home-rush-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  width: 330px;
  height: 430px;
  margin: 25px;
  box-shadow: 0 0 10px 5px #e5e5e5;
  border-radius: 10px;
}

#home-rush-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px 5px #e5e5e5;
  -webkit-transition: all 250ms;
  /*box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.2);*/
}

#home-page-footer {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  font-size: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  color: #0B0783;
  font-family: Montserrat, sans-serif;
}

#left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  height: 100%;
}

#right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30vh;
  width: 50%;
  height: 100%;
}

.card-title-container {
  color: #707070;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5%;
  font-weight: 300;
}

.left-card-layout {
  width: 80%;
  height: 110vh;
  margin-bottom: 10vh;
  margin-right: 30px;
  padding: 3vmin;
}

.right-card-layout {
  width: 80%;
  height: 110vh;
  margin-bottom: 10vh;
  margin-left: 30px;
  padding: 3vmin;
}

#about-card {
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  padding-left: 7vmin;
  padding-right: 7vmin;
  font-size: 2.5vmin;
}

.nu-retreat-image-container {
  width: 100%;
  height: 50%;
}

.nu-retreat-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


#ventures-card {
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  padding-left: 7vmin;
  padding-right: 7vmin;
  font-size: 2.5vmin;
}

.venture-title {
  font-weight: 600;
}

.venture-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.venture-image {
  width: 55%;
  height: auto;
}

#careers-card {
  padding: 7vmin;
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  padding-left: 7vmin;
  padding-right: 7vmin;
  font-size: 2.5vmin;
}

.companies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.company-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex: 3;
  margin: 10px;
}

.company-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25%;
  height: 25%;
}

.company-image {
  width: 100%;
  height: auto;
}

#apple {
  width: 80%;
}

#rush-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fad762;
  font-size: 2.5vmin;
  padding: 7vmin;
}

.rush-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.rush-image {
  width: 100%;
  height: auto;
}

#members-card {
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  padding-left: 7vmin;
  padding-right: 7vmin;
  font-size: 2.5vmin;
}

.member-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-image {
  width: 100%;
  height: auto;
}

.rachael-text {
  font-size: 2vmin;
}

.other-chapters-card {
  background-color: black;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  padding-left: 7vmin;
  padding-right: 7vmin;
  padding-top: 7vmin;
  font-size: 2.5vmin;
  width: 80%;
  margin-bottom: 40vh;
  margin-left: 30px;
}

.chapters {
  padding-top: 5vmin;
  display: flex;
  flex: 6;
  flex-direction: column;
  color: white;
  font-size: 6vmin;
  font-style: italic;
  font-weight: bold;
}

.chapter-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 3;
  color: white;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 1 / 13;
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
}

.sponsored-by {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 40vh;
  background-color: #E7E7E7;
  padding: 3vmin;
}

#sponsored-title-container {
  font-weight: 600;
  font-size: 3vmin;
  width: 100%;
  height: 5.5vh;
}

#sponsors-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.sponsor-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50vmin;
  height: auto;
  margin: 10vmin;
}

.sponsor-image {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: static;
  width: 100%;
  height: 45vh;
  color: white;
  text-align: center;
  background-color: black;
}

.footer-column-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
}

.social-media-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 70%;
}

.social-media-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 6vmin;
  font-style: italic;
  font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

hr { 
  border: 1px solid silver;
  width: 75%;
  align-self: center;
}

.sep-copyright {
    font-family: Montserrat, sans-serif;
    color: white;
    padding: 10px;
}

.footer-container {
  position: absolute;
  width: 100%;
  text-align: center;
}

.block:nth-child(odd) {
  background: #020135;
}

.social-media {
    position: absolute;

}

.instagram {
    padding-top: 15px;
    height: 40px
}

.facebook {
    padding-top: 15px;
    height: 50px
}

.jen-container {
  width: 100%;
  height: auto;
  /*background-color: #f4f4ff;*/
  background-color: #F9F9F9;
  padding-top: 130px;
  padding-bottom: 50px;

}

.jen-content {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #eeeeee;
}

.jen-image {
  width: 30%;
  height: 50%;
}

.jen-pic {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.jen-text {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.jen-text > p {
  text-align: left;
}

#jen-title {
  padding-top: 5px;
  text-align: center;
  font-size: 20px;
}

.home-page-title { 
  width:90%; 
  align-self: center;
  text-align:center; 
  border-bottom: 1px solid #D82959;
  line-height:0.1em; 
  margin:10px 0 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  color: #0B0783;
  

} 
h2 span {
  font-family: Montserrat, sans-serif; 
  background:#f9f9f9; padding:0 10px; }

#one {
  width: 100vw;
  height: 100vh;
  position: static;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 155px;
  background-image: url('../media/phoenix.png');
  background-repeat: no-repeat;
  background-size: 550px;
  background-position: 60px 70px   
}

.nav-link>a {
  color: white
}

.card-link-text>a {
  color: #E2324F;
}

#two {
  width: 100vw;
  height: 100vh;
}

#three {
  width: 100vw;
  height: 100vh;
}

#four {
  width: 100vw;
  height: 100vh;
}

#five {
  width: 100vw;
  height: 100vh;
}

#six {
  width: 100vw;
  height: 100vh;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
