body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.content {
  position: relative;
  z-index: 100;
}

.tiny-arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15vmin;
}

.tiny-arrow {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 20px solid #004040;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background-color: #020135;
  background-image: url('../media/back-pic.jpg');
  background-size: 125% auto;
}

.navbar {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: rgba(8, 13, 53, 0.7);
/*
  margin-top: 7px; 
  margin-bottom: 7px; 
*/
  font-weight: 600
}

.navbar-nav > li {
  margin-left: 3vw;
  margin-right: 3vw;
  color: #ffffff;
}

.navbar-nav > li > a {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-style: bold
}

#highlighted-nav-item {
  border: 1.25px solid #d82959;
  background-color: rgb(255, 255,255, 0.9)
  padding: 0;
  border-color: #d82959;
  margin-left: 3vw;
  padding-left: 18px;
  padding-right: 18px;

}

#sigma-eta-pi-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35%;
/*  padding-left: 100px */   
}

.sigma-eta-pi-text {
  font-size: 14vmin;
  color: #d82959;
  font-family: Montserrat, sans-serif; 
  font-weight: 700;
  text-align: center;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

#sub-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 8%;
  color: #ffffff;  

}

.sub-title-text {
  font-size: 5vmin;
  font-weight: bold;
  font-family: 'montserrat', sans-serif;
  font-weight:100;
  text-align: center;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s; 
}

#rush-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;  
/*  padding-bottom: 50px;
  padding-top: 40px;*/
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.btn-primary {
  font-size: 20px;
  width: 150px;
  height: auto;
  color: #d82959;
  background-color: rgba(255, 255, 255, 0.05);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  border-width: 2px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  /*border-radius: 20px;*/
  padding: 0;
  border-color: #d82959;
}

.btn-primary:hover {
  background-color: #d82959;
  color: rgba(8, 13, 53);
  border-color: #d82959
}

#super-sub-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 15%;
  font-size: 3.0vmin;
  font-family: 'montserrat',;
  color: #FFFFFF;
  text-align: center;
  opacity: .3;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.button {
    text-align: center;
    width: 60px;
    height: auto;
    opacity: 0.75;
}

.main-content {
  background-color: white;
}

#home-page-info {
  font-size: 1em;
  text-align: center;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top: 3vh;
  padding-top: 4vh;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  color: #0B0783;
  font-weight: normal;
}

.home-page-title { 
  width:90%; 
  align-self: center;
  text-align:center; 
  border-bottom: 1px solid #D82959;
  line-height:0.1em; 
  margin:10px 0 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 0.8em;
  color: #0B0783;
  

} 
h2 span {
  font-family: Montserrat, sans-serif; 
  background:#f9f9f9; padding:0 10px; }

.home-page-cards {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 2vh; 
  margin-right: 8vw;
  margin-left: 8vw;
  align-items: center;
}

#home-about-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  width: 75vw;
  height: 60vh;
  margin: 25px;
  box-shadow: 0 0 10px 5px #e5e5e5;
  border-radius: 10px;

}

#home-venture-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  width: 75vw;
  height: 60vh;
  margin: 25px;
  box-shadow: 0 0 10px 5px #e5e5e5;
  border-radius: 10px;

}

#home-rush-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  width: 75vw;
  height: 60vh;
  margin: 25px;
  box-shadow: 0 0 10px 5px #e5e5e5;
  border-radius: 10px;

}

.home-content-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3vh;
  align-content: center;
  justify-content: space-around;
  align-self: center;
}

.nu-retreat-image-container {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.nu-retreat-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  overflow:hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-text {
  text-align: center;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
}

.card-link-text {
  text-align: center;
  justify-content: center;
  color: #E2324F;
  font-weight: bold;
  font-size: 1em;
  margin-top: 1vh;
}

.card-link-text>a {
  color: #E2324F;
}

hr { 
  border: 1px solid silver;
  width: 75%;
  align-self: center;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title-container {
  color: #707070;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5%;
  font-weight: 300;
}

.card-layout {
  width: 90vw;
  height: 90vh;
  padding: 3vmin;
  margin-bottom: 10vmin;
}

#about-card {
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  padding-left: 7vmin;
  padding-right: 7vmin;
  font-size: 4vmin;
}

.nu-retreat-image {
  width: 100%;
  height: auto;
}

#ventures-card {
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  padding-left: 7vmin;
  padding-right: 7vmin;
  font-size: 4vmin;
}

.venture-title {
  font-weight: 600;
}

.venture-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.venture-image {
  width: 55%;
  height: auto;
}

#careers-card {
  padding: 7vmin;
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  padding-left: 7vmin;
  padding-right: 7vmin;
  font-size: 4vmin;
}

.companies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.company-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex: 3;
  margin: 10px;
}

.company-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25%;
  height: 25%;
}

.company-image {
  width: 100%;
  height: auto;
}

#apple {
  width: 80%;
}

#rush-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fad762;
  font-size: 4vmin;
  padding: 7vmin;
}

.rush-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.rush-image {
  width: 100%;
  height: auto;
}

#members-card {
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  padding-left: 7vmin;
  padding-right: 7vmin;
  font-size: 4vmin;
}

.member-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-image {
  width: 100%;
  height: auto;
}

.rachael-text {
  font-size: 3vmin;
}

.other-chapters-card {
  background-color: black;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  padding: 7vmin;
  width: 90vw;
  height: 55vh;
  font-size: 4vmin;
}

.chapters {
  padding-top: 5vmin;
  display: flex;
  flex: 6;
  flex-direction: column;
  color: white;
  font-size: 6vmin;
  font-style: italic;
  font-weight: bold;
}

.chapter-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 3;
  color: white;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 1 / 13;
  width: 100vw;
  height: 100vh;
  padding-top: 17vh;
}

.sponsored-by {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 30vh;
  background-color: #E7E7E7;
  padding: 3vmin;
}

#sponsored-title-container {
  font-weight: 400;
  font-size: 4vmin;
  width: 100%;
  height: 5.5vh;
}

#sponsors-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sponsor-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50vmin;
  height: auto;
  margin: 4vmin;
}

.sponsor-image {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: static;
  width: 100%;
  height: 50vh;
  color: white;
  text-align: center;
  background-color: black;
}

.footer-column-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 70%;
}

.social-media-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 70%;
}

.social-media-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 8vmin;
  font-style: italic;
  font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #B0DBDC;
    text-decoration: none;
}

.sep-copyright {

}

/*#triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 100vh solid white;
	border-left: 100vw solid transparent;
}

#triangle-topright {
	width: 0;
	height: 0;
	border-top: 100vh solid white;
	border-left: 100vw solid transparent;
}

#triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 100vh solid white;
	border-right: 100vw solid transparent;
}

#triangle-topleft {
	width: 0;
	height: 0;
	border-top: 100vh solid white;
	border-right: 100vw solid transparent;
}*/

#home-page-footer {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  font-size: 1em;
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: #0B0783;
  font-family: Montserrat, sans-serif;
}

#one {
  width: 100vw;
  height: 100vh;
  position: static;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#two {
  width: 100vw;
  height: 100vh;
}

#three {
  width: 100vw;
  height: 100vh;
}

#four {
  width: 100vw;
  height: 100vh;
}

#five {
  width: 100vw;
  height: 100vh;
}

#six {
  width: 100vw;
  height: 100vh;
}

.sep-copyright {
    font-family: sans-serif;
    color: white;
    padding: 10px;
}



.footer-container {
  padding-top: 50px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.block:nth-child(odd) {
  background: rgba(13, 0, 76,1);
}

.social-media {
    position: absolute;

}

.instagram {
    padding-top: 15px;
    height: 40px
}

.facebook {
    padding-top: 15px;
    height: 50px
}
