body{
	background-image:url("../images/rushbackgroundcropped6.png");
	background-color: #7ecdc5;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-attachment: bottom;
	height: 100%;
	overflow-y: hidden;
}

html {
	height: 100%;
	background-color: #7ecdc5;
}
