/* FONTS */

@font-face {
    font-family: 'Apercu';
    src: url('fonts/apercu-regular.ttf');
}

@font-face {
	font-family: 'Apercu-Bold';
	src: url('fonts/apercu-bold.ttf');
}

.apercu {
	font-family: 'Apercu';
}

.apercu-bold {
	font-family: 'Apercu-Bold';
}


/*
  http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GLOBAL */

/* CUSTOM RESET */

html {
	box-sizing: border-box;
}

html, body {
  font-family: 'Apercu';
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
  color: black;
}

a:hover {
  color:inherit;
}

b {
  font-family:'Apercu-Bold'
}

h1 {
  font-size: 3.35rem;
}

span, h1, h2 {
  margin: 0.83em 0;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18vh;
  padding: 0 10%;
  border-color: red;
}

.navigation {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 0.8em;
  font-size: 1.55vw;
}

.logo-image {
  height: 2.3vw;
  vertical-align: middle;
  margin-top: -5px;
}

.logo-text {
  font-size: 1.55vw;
  margin: 10px;
}

/* INTRO SECTION */
.intro {
  width: 100%;
  height: 90%;
}

.intro_text {
  text-align: left;
  position: absolute;
  top: 50%;
  transform: translate(35%,-35%);
  margin-top: -5rem;
}

.intro_text h1 {
  max-width: 50vw;
  font-size: 7vh;
}

.intro_text span {
  max-width: 50vw;
  display: inline-block;
  font-size: 2.7vh;
  margin-left: 25vh;
}

.arrow {
  max-width: 40px;
  position:absolute;
  bottom: 5%;
  left: calc(50% - 20px);
}

/* ABOUT SECTION */
.about {
  width: 100%;
  height: 100%;
  position: relative;
}

.about_text {
  text-align: left;
  position: absolute;
  top: 40%;
  transform: translate(35%,-35%);
  margin-top: -5rem;
}

.about_text h1 {
  max-width: 50vw;
  font-size: 6.25vh;
}

.about_text span {
  max-width: 50vw;
  display: inline-block;
  font-size: 2.7vh;
  margin-left: 25vh;
}

.section_img {
  display: block;
  width: 25vw;
  position: absolute;
  top: 0;
  transform: translate(20%, 20%);
  z-index: -1;
}

/* RUSH SECTION */

.rush {
  width: 100%;
  height: 80%;
  position: relative;
}

.rush_logo {
  height: 8vh;
  margin-left: 15%;
}

.rush_text {
  text-align: left;
  position: absolute;
  top: 50%;
  transform: translate(35%,-35%);
  margin-top: -5rem;
  z-index: 1;
}

.rush_banner {
  display: inline-block;
  font-size: 4vh;
  line-height: 1.3;
  margin-left: 2vw;
}

.rush_text > span {
  max-width: 40vw;
  display: inline-block;
  font-size: 2.7vh;
  margin-left: 25vh;
}

.img-container {
  background: #fff;
}

.rush_img {
  position: absolute;
  left: 10%;
  top: 25%;
  width: 25%;
  z-index: -1;
  opacity: 0.8;
}

/* FAQ SECTION */

.faq {
  margin-top: 40px;
}

.qa_div {
  height: 50%;
  position: relative;
}

.qa_wrapper {
  text-align: left;
  position: absolute;
  top: 50%;
  transform: translate(45%,-35%);
  margin-top: -5rem;
}

.question {
  max-width: 40vw;
  font-size: 3.75vh;
  display:block;
}

.answer {
  max-width: 45vw;
  display: inline-block;
  font-size: 2.7vh;
  margin-left: 20vh;
}

.morph-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: -10;
}

.morph {
  position: relative;
  height: 100%;
  fill: var(--background-color-2);
  flex: none;
  opacity: 0.6;
}

/* BROTHERS PAGE */

.brothers-box {
  width: 65%;
  margin: auto;
}

.brothers-pic {
	position: relative;
  margin: 0 10px;
}

.brothers-pic img {
	vertical-align: top;
	border-radius: 10px;
}

.brothers-pic:after, .brothers-pic:before {
	position: absolute;
	opacity: 0;
}

.brothers-pic:after {
	content: '\A';
	width: 100%;
  height: 100%;
	top: 0; left:0;
	background: rgba(0, 0, 0, 0.6);
}

.brothers-pic:before {
	content: attr(data-content);
	width: 100%;
	color: #fff;
	z-index: 1;
	bottom: 0;
	padding-bottom: 50%;
	text-align: center;
	font-size: 18px;
}

.brothers-pic:hover:after, .brothers-pic:hover:before {
	opacity: 1;
	border-radius: 10px;
}

.brothers-caption {
	position: absolute;
	color: #fff;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	margin-top: -100%;
	text-align: center;
  padding: 10%;
	padding-top: 20%;
}

.brothers-caption:hover {
	opacity: 1;
}

.brothers-caption-divider {
	width: 70%;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* VENTURES PAGE */

.venture-item img {
  padding: 10px;
}

/* RUSH PAGE */

.rush_content {
  text-align: left;
  position: absolute;
  top: 50%;
  transform: translate(120%,-100%);
  margin-top: -5rem;
  z-index: 1;
}

.rush-img {
  display: block;
  width: 50vw;
  position: absolute;
  top: 0;
  transform: translate(-60%, 0%);
  z-index: -1;
}

.right-arrow {
  max-width: 25%;
  position:absolute;
  transform: translate(80%, 140%);
  left: calc(50% - 20px);
}

.section {
  width: 100%;
  height: 50%;
  position: relative;
}

.rush-box h1{
  font-size: 5vw;
}

.rush-box h2{
  font-size: 3vw;
}
