:root {
  --blue: #3858FB;
  --darkBlue: #0A2998;
  --mediumBlue: #64DCF0;
  --lightBlue: #F2FBFC;
  --grayText: #393939;
  --hFont: 'Futura';
  --pFont: 'Open Sans';
}

img {
  max-width: 100%;
}

body {
  font-family: var(--pFont), sans-serif;
  font-weight: 600;
  text-align: center;
}

nav {
  background-color: white;
  box-shadow: 0px 0px 5px #DDDDDD;
}

.navbar a {
  font-family: var(--pFont), sans-serif;
  font-weight: 700;
  color: #505050;
  font-size: 14px;
}

.nav-item {
  margin: 5px 15px;
}

.nav-rush a {
  color: var(--blue);
}

.active a:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 90%;
  padding-top: 2px;
  border-bottom: 3px solid var(--blue);
}

a:hover {
  cursor: pointer;
}

/* Main */

section {
  padding: 100px 0 100px 0;
  margin: auto;
}

.dark-section {
  background-color: var(--lightBlue);
}

h1 {
  font-family: var(--hFont);
  font-size: 36px;
  font-weight: bold;
  color: var(--blue);
  margin-bottom: 20px;
}

/* Footer */

footer {
  padding-top: 50px;
  position: absolute;
  width: 100%;
  background: rgba(13, 0, 76,1);
}

.instagram {
    padding-top: 15px;
    height: 40px
}

.facebook {
    padding-top: 15px;
    height: 50px
}

.sep-copyright {
    color: white;
    padding: 10px;
}