:root {
  --blue: #3858FB;
  --darkBlue: #0A2998;
  --mediumBlue: #64DCF0;
  --lightBlue: #F2FBFC;
  --grayText: #393939;
  --hFont: 'Futura';
  --pFont: 'Open Sans';
}

html {
  scroll-behavior: smooth;
}

.content {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}


.title-text {
  display: flex;
  align-self: right;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 8vmin;
  font-weight: bold;
  padding-top: 4vmin;
  margin-bottom: 30px;
  font-family: sans-serif;
}

.subtitle-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 2.5vmin;
  font-weight: bold;
  padding-top: 0;
  font-family: Montserrat, sans-serif;
}

.rush-container {
  padding-top: 5vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
}

.rush-schedule {
  width: 95%;
  height: auto;
  padding: 2vmin;
}

.apply-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.apply {
  padding-top: 40px;
  background-color: #020135;
}

.btn-primary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 31px;
  font-weight: bolder;
  width: 225px;
  height: 70px;
  color: white;
  background-color: rgba(255, 255, 255, 0.10);
  font-family: sans-serif;
  border-width: 2px;
  /*border-radius: 20px;*/
  padding: 0;
  border-color: #d82959;
}

/* Timeline */

.timeline-container {
  width: 100%;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.timeline-pic {
  width: 100%;
  height: auto;
}

/* FAQ */

.faq {
  padding: 100px 15%;
}

.question {
  display: inline-block;
  width: 25%;
  font-family: var(--hFont);
  font-size: 20px;
  text-align: right;
  margin-right: 5%;
  vertical-align: top;
  margin-top: 50px;
  color: var(--darkBlue);
  font-weight: bold;
}

.answer {
  display: inline-block;
  width: 65%;
  font-size: 16px;
  text-align: left;
  vertical-align: middle;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .faq .question {
    font-size: 18px;
    width: 100%;
    text-align: left;
    display: block;
  }

  .faq .answer {
    width: 100%;
    display: block;
    margin-top: 0;
  }
}


canvas#spiders {
  /*height:100vh;*/
  height: 100vh;
  position: absolute;
  z-index: -1;
}
