:root {
  --blue: #513ECE;
  --darkBlue: #000350;
  --mediumBlue: #64DCF0;
  --lightBlue: #7391FA;
  --grayText: #393939;
  --hFont: 'Futura';
  --pFont: 'Open Sans';
  --pink: #EA8173;
  --orange: #FEB75F;
  --yellow: #c5b789;
  --dark: #121328;
}

html, body {
  scroll-behavior: smooth;
  height: 100%;
}

.navbar {
  background-color: rgba(255,255,255,0);
  width: 100%;
  position: absolute;
  color: white;
  z-index: 200;
  box-shadow: none;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

canvas {
  position: relative;
  z-index:1;
}
.liquify {
  padding-top: 10vw;
  height: 100vw;
  position: absolute;
}

.background {
  background-color: var(--dark);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  padding: 0px;
  z-index: 0;
}

.landing-design {
  height: 100vh;
  width: 100%;
  max-height: 700px;
  min-height: 550px;
  z-index: 0;
  position: absolute;
}

.rush-banner {
  object-fit: cover;
  width: 100%;
}

.rush-landing {
  padding: 0px;
  margin: 0px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.rush-landing h1 {
  display: flex;
  align-self: right;
  justify-content: center;
  width: 100%;
  letter-spacing: 4px;
  margin-bottom: 50px;
  font-family: sans-serif;
  text-shadow: 5px 5px var(--blue);
  font-size: 9vmin;
  font-weight: bold;
  padding-top: 4vmin;
  color: white;
}

.rush-landing p {
  color: white;
  font-size: 2.75vmin;
  font-weight: bold;
  padding-top: 0;
  font-family: Montserrat, sans-serif;
}

.btn-primary {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 24px;
  font-weight: bolder;
  width: 150px;
  height: 50px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: sans-serif;
  border-width: 2px;
  /*border-radius: 20px;*/
  padding: 0;
  border-color: var(--yellow);
  margin-top: 250px;
  margin-bottom: 50px;
}

.btn-primary:hover {
  background-image: linear-gradient(to right, rgba(176, 56, 157, 0.85), rgba(120, 182, 228, 0.85));
  border-color: var(--yellow);
}

.scroll {
  position: absolute;
  margin-top: 350px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  transition: opacity .3s;
}

.scroll span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-left: -12px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}

@media screen and (min-width: 800px) {
  .rush-landing::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(6, 2, 56, 0.3) 80%,rgba(6, 2, 56, .5) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(6, 2, 56, 0.3) 80%,rgba(6, 2, 56, .5) 100%);
  }

  .scroll:hover {
    opacity: .5;
  }
}

/* Timeline */

.timeline-container {
  padding-bottom: 0;
}

.timeline-container::before {
  content: '';
  position: absolute;
  width: 15px;
  margin-top: -100px;
  left: 32.5vw;
  height: 180px;
  z-index: 0;
  background-image: linear-gradient(180deg, #B6DAFF, #FFD4EE);
}

.timeline-container a {
  color: var(--grayText);
}

.timeline-point, .timeline-gradient {
  position: relative;
  text-align: left;
  border-left-width: 15px;
  border-left-style: solid;
  padding-left: 10vw;
  margin: auto;
  width: 35vw;
  min-width: 300px;
  border-top:0;
  border-right:0;
  border-bottom:0;
}

.timeline-point span {
  padding-left: 10px;
  padding-right: 10px;
  background-size: 0.3em 88%;
  background-repeat: no-repeat;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;

}

.timeline-point span:hover {
  background-size: 100% 88%;
}

.timeline-point h3 {
  margin: 0;
  margin-left: -10px;
}

.timeline-gradient p {
  margin: 0;
}

.timeline-gradient {
  padding-bottom: 30px;
}

.timeline-point::before {
  content: '';
  position: absolute;
  width: calc(10vw - 10px);
  top: 40%;
  height: 10px;
  margin-left: -10vw;
  z-index: 1;
}

.timeline-point.mtc {
  border-left-color: #EC899A;
}

.timeline-point.mtc span {
  background-image: linear-gradient(120deg, #EC899A 0%, #EC899A 100%);
}

.timeline-point.mtc::before {
  background-color: #EC899A;
}

.timeline-gradient.mtc {
  border-image-source: linear-gradient(180deg, #EC899A, #CD5598);
  border-image-slice: 1;
}

.timeline-point.sep-women {
  border-left-color: #CD5598;
}

.timeline-point.sep-women span {
  background-image: linear-gradient(120deg, #CD5598 0%, #CD5598 100%);
}

.timeline-point.sep-women::before {
  background-color: #CD5598;
}

.timeline-gradient.sep-women {
  border-image-source: linear-gradient(180deg, #CD5598, #AA46A5);
  border-image-slice: 1;
}

.timeline-point.social-night {
  border-left-color: #AA46A5;
}

.timeline-point.social-night span {
  background-image: linear-gradient(120deg, #AA46A5 0%, #AA46A5 100%);
}

.timeline-point.social-night::before {
  background-color: #AA46A5;
}

.timeline-gradient.social-night {
  border-image-source: linear-gradient(180deg, #AA46A5, #9771BD);
  border-image-slice: 1;
}

.timeline-point.apps-due {
  border-left-color: #9771BD;
}

.timeline-point.apps-due span {
  background-image: linear-gradient(120deg, #9771BD 0%, #9771BD 100%);
}

.timeline-point.apps-due::before {
  background-color: #9771BD
}

.timeline-gradient.apps-due {
  border-image-source: linear-gradient(180deg, #9771BD, #7AB1E2);
  border-image-slice: 1;
}

.timeline-point.interviews {
  border-left-color: #7AB1E2;
}

.timeline-point.interviews span {
  background-image: linear-gradient(120deg, #7AB1E2 0%, #7AB1E2 100%);
}

.timeline-point.interviews::before {
  background-color: #7AB1E2;
}

.timeline-gradient.interviews {
  border-left-color: #7AB1E2;
}


/* FAQ */

.faq {
  padding: 100px 15%;
}

.question {
  display: inline-block;
  width: 25%;
  font-family: var(--hFont);
  font-size: 20px;
  text-align: right;
  margin-right: 5%;
  vertical-align: top;
  margin-top: 50px;
  color: var(--dark);
  font-weight: bold;
}

.answer {
  display: inline-block;
  width: 65%;
  font-size: 18px;
  text-align: left;
  vertical-align: middle;
  margin-top: 50px;
}

@media screen and (max-width: 799px) {
  .timeline-container::before {
    display: none;
  }

  .rush-banner {
    object-fit: cover;
    height: 280px;
    object-position: 55%;
  }

  .btn-primary {
    margin-top: 200px;
    font-size: 22px;
    width: 100px;
    height:40px;
    z-index: 2;
  }

  .scroll {
    display: none;
  }
}

@media screen and (max-width: 799px) {
  .navbar {
    background-color: #1f2357;
    position: relative;
  }

  .background {
    background-image: none;
    background-color: #1f2357;
  }

  .background {
    margin-top: 52px;
  }

  .timeline-point, .timeline-gradient {
    padding-left: 15vw;
    width: 50vw;
  }

  .title-text {
    text-shadow: 3px 3px var(--blue);
  }

  .faq .question {
    font-size: 18px;
    width: 100%;
    text-align: left;
    display: block;
  }

  .faq .answer {
    width: 100%;
    display: block;
    margin-top: 0;
  }

  .timeline-point::before {
    margin-left: -15vw;
    width: calc(15vw - 10px);
  }
}

@media screen and (max-width: 400px) {
  .rush-banner {
    object-fit: cover;
    height: 250px;
    object-position: 50%;
  }

  .rush-landing {
    height: 413px;
  }
}

@media screen and (min-width: 620px) {
  .btn-primary {
    margin-top: 220px;
  }
}

@media screen and (min-width: 650px) {
  .rush-banner {
    height: 400px;
  }

  .btn-primary {
    margin-top: 300px;
  }
}

@media screen and (min-width: 1100px) {
  .rush-banner {
    height: 600px;
  }

  .btn-primary {
    margin-top: 500px;
  }

  .scroll {
    margin-top: 550px;
  }
}

@media screen and (min-width: 2000px) {
  .rush-landing {
    height: 900px;
  }

  .rush-banner {
    height: 900px;
  }

  .btn-primary {
    font-size: 32px;
    width: 200px;
    height: 70px;
    margin-top: 700px;
  }

  .scroll {
    margin-top: 800px;
  }
}

@media screen and (max-width: 975px) {
  .timeline-container::before {
    display: none;
  }
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
