:root {
  --blue: #3858FB;
  --darkBlue: #000350;
  --mediumBlue: #64DCF0;
  --lightBlue: #F2FBFC;
  --grayText: #393939;
  --violet: #0D004C;
  --hFont: 'Futura';
  --pFont: 'Open Sans';
  --yellow: #c5b789;
  --dark: #121328;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

body {
  font-family: futura-pt, sans-serif;
  font-size: 20px;
  font-style: normal;
  color: var(--grayText);
  font-weight: 400;
  text-align: center;
}

a:hover {
  cursor: pointer;
}

.navbar {
  background-color: var(--dark);
  width: 100%;
  position: absolute;
  color: white;
  z-index: 2;
  border-bottom: 1px solid var(--yellow);
  z-index: 3;
}

.navbar a {
  font-family: var(--pFont), sans-serif;
  font-weight: 800;
  color: #505050;
  font-size: 16px;
}

.nav-link a {
  color: white;
}

.nav-item {
  margin: 5px 15px;
}

.navbar-brand {
  margin-left: 5px;
}

.nav-rush a {
  color: #ed7cf1;
}

nav a:hover {
  color: var(--blue);
}

.navbar button {
  border: none;
  outline: none;
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.animated-icon:hover {
  cursor: pointer;
}

.animated-icon span {
  background: #000000;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon-dark span {
  background: #FFFFFF;
}

.animated-icon span:nth-child(1) {
  top: 0px;
}

.animated-icon span:nth-child(2), .animated-icon span:nth-child(3) {
  top: 10px;
}

.animated-icon span:nth-child(4) {
  top: 20px;
}

.animated-icon.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

button:focus {
  outline: none;
}

/* Main */

section {
  padding: 100px 50px 100px 50px;
  margin: auto;
  position: relative;
}

.dark-section {
  background-color: var(--lightBlue);
}

section h1 {
  font-family: var(--hFont);
  font-size: 36px;
  font-weight: bold;
  color: var(--dark);
  margin-bottom: 30px;
}

.grid {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 80%;
  margin: auto;
  padding-top: 5px;
}

/* Credit: https://gist.github.com/CodeMyUI/1742d679c031cfea06948681e24cefd4 */
.underline-magical {
  background-image: linear-gradient(120deg, #3858FB 0%, #EA8173 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.underline-magical:hover {
  background-size: 100% 88%;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/* Footer */

footer {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  background: var(--dark);
}

footer a img {
  width: 40px;
  height: auto;
  opacity: 0.7;
  margin-right: 5px;
  margin-left: 5px;
}

footer a img:hover {
  opacity: 1;
}

footer p {
    color: white;
    padding: 0px;
    opacity: 0.7;
}

@keyframes scale {
  from { width: 0px; }
  to   { width: 90%; }
}

@-webkit-keyframes scale {
  from { width: 0px; }
  to   { width: 90%; }
}

/* Mobile Responsive */

@media screen and (min-width: 992px) {
  .active a:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 2px;
    border-bottom: 3px solid var(--yellow);
    animation: scale 0.75s;
	  -webkit-animation: scale 0.75s;
  }

  .grid {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
    padding-top: 5px;
  }
}

@media screen and (max-width: 800px) {
  section {
    padding: 50px 50px;
  }
}

#mc_embed_signup_scroll {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}